@charset "utf-8";
/* CSS Document */


.aixwebtick-black { 
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: auto;
	width:auto;
	background-color: #000;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #fff;
	text-rendering: optimizeLegibility
}
.aixwebtick-black a {
	color:#FFFF00;
	text-decoration:none;
}
.aixwebtick-black a:hover {
	color:#FFFF00;
	text-decoration:underline;
}

.aixwebtick-black .tickercontainer .mask { 
	position: relative;
	top: 0px;
	height: auto;
	overflow: hidden;
}

.aixwebtick-black ul.newsticker {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;

	}
.aixwebtick-black ul.newsticker li {
	float: left;
	margin: 0;
	padding:0;
	list-style-type:none;
	padding-right: 15px;
	visibility:hidden;
}

.aixwebtick-black ul.newsticker.itemdatalayout-vertical li div{
	float: left;
	margin-right: 7px;
}

.aixwebtick-black .maks2-title {
	position: absolute;
	left: 0;
	top: 0;
	background-color:#000;
	padding-right:15px;
	font-weight:bolder;
}

.aixwebtick-black .maks2-right {
	
	width: 100px;
	position: absolute;
	top: 0;
	right:-2px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	}
	
.aixwebtick-black .maks2-left {
	width: 100px;
	position: absolute;
	top: 0;
	left: -2px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

	}
