@charset "utf-8";
/* CSS Document */


.aixwebtick-orange { 
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: auto;
	width:auto;
	background-color: #FF670F;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #fff;
	text-rendering: optimizeLegibility
}

.aixwebtick-orange .maks2-title {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FF670F;
	padding-right:15px;
	font-weight:bolder;
}
.aixwebtick-orange .mask2-more {
	position: absolute;
	right: 0;
	top: 0;
	padding-left:15px;
	background-color: #FF670F;
}

.aixwebtick-orange a {
	color:#FFF;
	text-decoration:none;
}
.aixwebtick-orange a:hover {
	color:#FFF;
	text-decoration:underline;
}

.aixwebtick-orange .tickercontainer .mask { 
	position: relative;
	top: 0px;
	height: auto;
	overflow: hidden;
}

.aixwebtick-orange ul.newsticker {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;

	}
.aixwebtick-orange ul.newsticker li {
	float: left;
	margin: 0;
	padding:0;
	list-style-type:none;
	padding-right: 15px;
	visibility:hidden;
}

.aixwebtick-orange ul.newsticker.itemdatalayout-vertical li div{
	float: left;
	margin-right: 7px;
}

.aixwebtick-orange .maks2-right {
	
	width: 100px;
	position: absolute;
	top: 0;
	right:-2px;
background: -moz-linear-gradient(left,  rgba(255,103,15,0) 0%, rgba(255,103,15,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,103,15,0)), color-stop(100%,rgba(255,103,15,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(255,103,15,0) 0%,rgba(255,103,15,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(255,103,15,0) 0%,rgba(255,103,15,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(255,103,15,0) 0%,rgba(255,103,15,1) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(255,103,15,0) 0%,rgba(255,103,15,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff670f', endColorstr='#ff670f',GradientType=1 ); /* IE6-9 */


	}
	
.aixwebtick-orange .maks2-left {
	width: 100px;
	position: absolute;
	top: 0;
	left: -2px;
	background: -moz-linear-gradient(left,  rgba(255,103,15,1) 0%, rgba(255,103,15,0) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,103,15,1)), color-stop(100%,rgba(255,103,15,0))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(255,103,15,1) 0%,rgba(255,103,15,0) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(255,103,15,1) 0%,rgba(255,103,15,0) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(255,103,15,1) 0%,rgba(255,103,15,0) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(255,103,15,1) 0%,rgba(255,103,15,0) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#00ff670f',GradientType=1 ); /* IE6-9 */



	}
