<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_PUSHNOTIFICATION_CONFIGURATION" name="pushnotification">
	<field name="note31" type="note" class="alert" close="true" label="COM_PUSHNOTIFICATION_UAKEY" description="COM_PUSHNOTIFICATION_UAKEYWHERE" />
	<field name="uakey" type="textarea" default="" label="COM_PUSHNOTIFICATION_UAKEY_LABEL" description="COM_PUSHNOTIFICATION_UAKEY_DESC" rows="3" cols="15" />
    </fieldset>
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="COM_PUSHNOTIFICATION_" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
	<fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
</config>